.topper {
    /* Flexbox Layout for Row */
    position: relative; /* Use relative instead of absolute */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    width: 90%; /* Full width of the page */
    height: 200px;
    background-color: #fff; /* Optional background color */
    gap: 170px; /* Space between image and text */
    margin: 0 auto;
}

.topper h1 {
    font-family: 'Cinzel';
    font-size: 80px; /* Responsive font size */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0; /* Remove default margin */
}

.logo {
    width: 150px; /* Control size of logo */
    height: auto; /* Maintain aspect ratio */
}

.menu_bar{
    width:80px;
}

.grid-container { 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 100px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5vh;
}

.temp{
    height: 30vw;
}



/* Mobile view adjustments */
@media (max-width: 400px) {
    .topper {
        align-items: center;
        gap: 0;
        height: auto;
        gap: 20vw;
        padding: 20px;
    }

    .logo {
        width: 120px;
    }

    /* Hide everything else */
    .topper h1{
        display: none;
    }

    .grid-container{
        flex-direction: column;
        align-items: center;
        margin: auto 0;
    }

    .temp{
        width: 70vw;
        height: 40vh;
    }

}






