
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Slabo 27px", serif;
    font-size: 16px;
    line-height: 1.5;
    background: white; 
    /* background: linear-gradient(to bottom, #514b63, #cf5d41); Example gradient from pink to orange */
}

a{
    text-decoration: none;
    color: #333;

}

ul{
    list-style: none;

}

img{
    max-width: 100%;
}

.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
  }

  .navbar{
    padding: 20px;
  }

  .navbar .main-menu{
    flex-grow: 1;
    background: #efebdb;
  }
  .main-menu {
    opacity: 0;
    transform: translateX(-100%); /* Start position off the screen to the left */
    transition: transform 0.6s ease-out, opacity 0.8s ease-out;
  }

  /* Slide-in class */
  .menu-slide-in {
      opacity: 1;
      transform: translateX(0); /* Slide to the final position */
  }

  /* Initial hidden state for logo */
  .logo {
    opacity: 0.0;  /* Start fully transparent */
    transition: opacity 2s ease; /* Adjust duration as needed */
    position: relative;
    z-index: 2; /* Make sure the logo stays on top */
    margin-right: -20px; /* Move the logo up to overlap the navbar */
  }

  /* Add a fade-in class to make it visible */
  .fade-in {
    opacity: 1;  /* Fade to full opacity */
  }

  .navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .main-menu ul{
     display: flex;
     justify-content: center;
  }

  .navbar ul li a{
    padding: 10px 20px;
    display: block;
    transition: 0.4s;
    font-size: 30px;
    color:#333
  }

  .navbar ul li a:hover{
    color: #8B0000; 
  }

  .navbar .logo{
    margin-left: auto;
  }

  /* Utility Classes */

  .container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }

  body{
    background-color: #eee;
    margin-top:20px;
  }
  .media.media-news {
      /* display: -webkit-box;
      display: -ms-flexbox; */
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 210px;
      gap: 1rem;
  }
  @media (min-width: 768px) {
      .media.media-news {
          padding-bottom: 0;
          margin-bottom: 0;
      }
  }
  @media (min-width: 1200px) {
      .media.media-news {
          padding-bottom: 25px;
          margin-bottom: 0;
      }
  }
  .media.media-news .media-body {
      padding: 20px;
      box-shadow: 0 22px 28px 0 rgba(0, 0, 0, 0.90);
      background: #fff;
      position: absolute;
      width: 85%;
      right: 0;
      bottom: 0;
  }
  @media (min-width: 768px) {
      .media.media-news .media-body {
          position: relative;
          padding: 46.5px 35px;
          right: 0;
      }
  }
  @media (min-width: 992px) {
      .media.media-news .media-body {
          right: 40px;
          bottom: 0;
      }
  }
  @media (min-width: 1200px) {
      .media.media-news .media-body {
          position: absolute;
          right: 35px;
          width: 60%;
          padding: 20px;
      }
  }
  .media.media-news .media-body .media-date {
      font-family: "Open Sans", sans-serif;
      color: #848484;
      margin-bottom: 10px;
  }
  .media.media-news .media-body h5 {
      font-size: 22px;
      padding-bottom: 15px;
      margin-bottom: 20px;
  }
  .media.media-news .media-body h5.small {
      font-size: 16px;
  }
  .media.media-news .media-body p {
      font-family: "Open Sans", sans-serif;
      color: #848484;
  }
  .media.media-news .media-body .common-btn {
      margin-top: 10px;
  }
  .media-img img {
    width: 100%; /* Make sure the image fits inside the container */
    height: auto; /* Maintain the image aspect ratio */
  }

  .posts-home{
    display: flex; /* Use Flexbox for layout */
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .posts-home-right
  .posts-home-left{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 210px;
    width: 100%; 
    /* gap: 1rem; */
  }