<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betty's Table</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" 
        rel="stylesheet"
    />
    <link 
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/style.css" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type = "image/x-icon" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
</head>
<body>
    <!-- <h1>Betty's Table</h1> -->
    <nav class = "navbar">
        <div class = "container"> 
            <div class = "logo" id = "logo">
                <a href="index.html"> 
                    <img src="{{ site.baseurl }}/assets/images/Icon_red_blue.png" alt="Betty's Table Logo">
                </a>
            </div>
            <div class = "main-menu" id = "main-menu">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href ="about.html">About</a>
                    </li>
                    <li>
                        <a href ="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href ="recipes.html">Recipes</a>
                    </li>
                    <li>
                        <a href ="jewelry.html">Jewelry</a>
                    </li>
                    <li>
                        <a href ="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
        <div class="row no-gutters">
          <div class="col-xl-6 col-12 mb-5 mb-xl-0">
            <div class="media media-news">
              <div class="media-img">
                <img src="https://www.bootdey.com/image/350x280/FFB6C1/000000" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <span class="media-date">25 july 2017</span>
                <h5 class="mt-0 sep">Finibus Bonorum Malor.</h5>
                <p>Lorem ipsum dolor amet consectetur adip sicing elit sed eiusm tempor incididunt ut labore dolore.</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">View More</a>
              </div>
            </div>
          </div>
          
          <div class="col-xl-6 col-12">
            <div class="media media-news">
              <div class="media-img">
                <img src="https://www.bootdey.com/image/350x280/87CEFA/000000" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <span class="media-date">13 August 2018</span>
                 <h5 class="mt-0 sep"> Tincidunt dui ornare</h5>
                <p>Facilisi morbi tempus iaculis urna id volutpat lacus. Mi eget mauris pharetra et. Fermentum iaculis</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">View More</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row no-gutters mt-4">
          <div class="col-xl-6 col-12 mb-5 mb-xl-0">
            <div class="media media-news">
              <div class="media-img">
                <img src="https://www.bootdey.com/image/350x280/FF7F50/000000" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <span class="media-date">25 july 2017</span>
                <h5 class="mt-0 sep">Finibus Bonorum Malor.</h5>
                <p>Lorem ipsum dolor amet consectetur adip sicing elit sed eiusm tempor incididunt ut labore dolore.</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">View More</a>
              </div>
            </div>
          </div>
          
          <div class="col-xl-6 col-12">
            <div class="media media-news">
              <div class="media-img">
                <img src="https://www.bootdey.com/image/350x280/20B2AA/000000" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <span class="media-date">13 August 2018</span>
                 <h5 class="mt-0 sep"> Tincidunt dui ornare</h5>
                <p>Facilisi morbi tempus iaculis urna id volutpat lacus. Mi eget mauris pharetra et. Fermentum iaculis</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">View More</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <ul>
        {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %d, %Y" }}
            </li>
        {% endfor %}
    </ul>

    <script src = "{{ site.baseurl }}/assets/js/main.js "></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>
