<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betty's Table</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" 
        rel="stylesheet"
    />
    <link 
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/style.css" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type = "image/x-icon" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
</head>
<body>
    <!-- <h1>Betty's Table</h1> -->
    <nav class = "navbar">
        <div class = "container"> 
            <div class = "logo" id = "logo">
                <a href="index.html"> 
                    <img src="{{ site.baseurl }}/assets/images/Icon_red_blue.png" alt="Betty's Table Logo">
                </a>
            </div>
            <div class = "main-menu" id = "main-menu">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href ="about.html">About</a>
                    </li>
                    <li>
                        <a href ="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href ="recipes.html">Recipes</a>
                    </li>
                    <li>
                        <a href ="jewelry.html">Jewelry</a>
                    </li>
                    <li>
                        <a href ="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class = "container">

    </div>

    {% assign split_point = site.posts | size | divided_by: 2 %}

    <div class="container">
        <div class = "posts-home">
            <div class="posts-home-left">
                {% for post in site.posts limit: split_point %}
                    <div class="col-xl-6 col-12 mb-5 mb-xl-0">
                        <div class="media media-news">
                            <div class="media-img">
                                <img src="{{ site.baseurl }}/{{ post.image }}" alt="Apples on island table">
                            </div>
                            <div class="media-body">
                                <span class="media-date">{{ post.date | date: "%B %d, %Y" }}</span>
                                <h5 class="mt-0 sep">{{ post.title }}</h5>
                                <p>{{ post.excerpt }} </p>
                                <a href="{{ post.url }}">View More</a> - {{ post.date | date: "%B %d, %Y" }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="posts-home-right">
                {% assign half = site.posts.size | divided_by: 2 %}
                {% for post in site.posts offset: split_point %}
                    <div class="col-xl-6 col-12 mb-5 mb-xl-0">
                        <div class="media media-news">
                            <div class="media-img">
                                <img src="{{ site.baseurl }}/{{ post.image }}" alt="Apples on island table">
                            </div>
                            <div class="media-body">
                                <span class="media-date">{{ post.date | date: "%B %d, %Y" }}</span>
                                <h5 class="mt-0 sep">{{ post.title }}</h5>
                                <p>{{ post.excerpt }} </p>
                                <a href="{{ post.url }}">View More</a> - {{ post.date | date: "%B %d, %Y" }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src = "{{ site.baseurl }}/assets/js/main.js "></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>
